<!-- Bootstrap Grid System -->
<!-- Defines a horizontal row. -->

<!-- 
<div class="row">
  <div class="col-lg-8">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4">
    <app-our-visitors></app-our-visitors>
  </div>

</div>


<div class="row">

  <div class="col-lg-4">
    <app-profile-card></app-profile-card>
    <app-my-contacts></app-my-contacts>
  </div>

  <div class="col-lg-8">
    <app-activity-timeline></app-activity-timeline>
  </div>

</div>
-->

<div class="row" style="height: 70vh;">
  <!-- LLM Playground (Takes 70% of the viewport height) -->
  <div class="col-12">
    <app-llm-playground></app-llm-playground>
  </div>
</div>

<div class="row" style="height: 30vh;">
  <!-- Chat Session (Takes 30% of the viewport height) -->
  <div class="col-12">
    <app-chat-session></app-chat-session>
  </div>
</div>